* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
.menu {
  background-color: rgb(4, 83, 255);
}
.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.items {
  justify-content: space-between;
  display: flex;
  list-style-type: none;
}
li {
  padding: 0 20px;
}
.logo {
  width: 40px;
  height: 40px;
}
.button {
  border-radius: 15px;
  width: 70px;
  height: 25px;
}
#bg{
  background-image: url(./assets/images/backgroundimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  height: 100vh;
  display: flex;
  justify-content:space-between ;
  flex-wrap:wrap;
  gap: 20px 10px;
}
.card {
  width: 300px;
  height: auto;
  background-color: rgb(47, 83, 245);
  border: 2px solid rgb(0, 140, 255);
  border-radius: 15px;
  text-align: center;
  transition: all 5s ease-in-out; 
  transition: all 3s ease-in-out;
  transform: translate(0), scale(0), rotate(0 deg);
}
.card:hover{
background-color: rgb(46, 206, 206);
color: rgb(0, 29, 190);
box-shadow: -3px -3px 3px 3px, 3px 3px 3px 3px;
background-image:url(./assets/images/backgroundimage.jpg) ;
transform: translate(200px, 200px) scale(1.2) rotate(7200deg);
}
.image {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.h2 {
  margin: 20px;
}
.p{
    margin: 20px;
}
.card{
  font-family: Regular;
}
@font-face {
  font-family: Regular;
  src: url(./assets/fonts/Pacifico-Regular.ttf);
}